h1 {
  color: white;
  background-color: #4aaaa5;
  margin: 25px;
  padding: 25px;
}

.headerlinks {
  color: grey;
  font-size: 12;
  padding-right: 15px;
}

.topbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: white;
  padding-bottom: 30px;
}

.primarycontent {
  margin: 25px;
  padding: 25px;
  background-color: #ffffff;
  border-color: #dddddd;
  float:left;
}

.connectwithme {
  margin: 25px;
  padding: 10px;
  background-color: white;
  float: right;
}

.cbimg {
  width:60px;
  height:60px;
}
.connectbutton {
  padding: 0;
  border: none;
  background: none;
}

.thema {
  background-color: grey;
}

.footsyle {
  background-color: #666666;
}
